<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booking.mapper.IdempotencyTokenMapper">

    <select id="findByToken" resultType="IdempotencyToken">
        SELECT * FROM idempotency_tokens WHERE token = #{token}
    </select>

    <insert id="insert">
        INSERT INTO idempotency_tokens (token, order_id, action, expires_at)
        VALUES (#{token}, #{orderId}, #{action}, #{expiresAt})
    </insert>

    <update id="updateResponse">
        UPDATE idempotency_tokens
        SET response_status = #{responseStatus}, response_body = #{responseBody}
        WHERE token = #{token}
    </update>

    <delete id="deleteExpired">
        DELETE FROM idempotency_tokens WHERE expires_at &lt; #{now}
    </delete>
</mapper>
